{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block header %}
    Password
{% endblock %}

{% block main %}

    <form action="/change_password" method="post"  class="section">

        <div  class="section">
            <input name="password" placeholder="Password" type="password">
        </div>

        <div  class="section">
            <input name="password_new" placeholder="New password" type="password">
        </div>

        <div  class="section">
            <input name="password_again" placeholder="Password (Again)" type="password">
        </div>

        <button type="submit">Register</button>

    </form>

{% endblock %}